@model Regele_Marius.ViewModels.SumarProgramareViewModel
<link href="~/Content/StyleSheet.css" type="text/css" rel="stylesheet" />
@{
    ViewBag.Title = "Sumar programare";
}

<h2>Sumar programare</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Analiza.Denumire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Analiza.Denumire)
        </dd>

        <dt>
            Solicitant
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramareAnaliza.NumeComplet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgramareAnaliza.DataNastere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramareAnaliza.DataNastere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgramareAnaliza.NrTelefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramareAnaliza.NrTelefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgramareAnaliza.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramareAnaliza.Email)
        </dd>

        <dt>
            Data programare
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramareAnaliza.DataProgramare)
        </dd>

        <dt>
            Interval orar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramareAnaliza.OraInceput) - @Html.DisplayFor(model => model.ProgramareAnaliza.OraFinal)
        </dd>
        <dt>
            Nume medic
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medic.NumeComplet)
        </dd>


        <td>

            <div class="tooltip">
                @Html.ActionLink(" ", "Index", "ProgramareAnaliza1", new { style = "background: url('" + Url.Content("~/images/check-circle-regular.svg") + "') no-repeat center; display:inline-block; height:30px; width:30px;filter: invert(51%) sepia(6%) saturate(4768%) hue-rotate(71deg) brightness(117%) contrast(102%);" })
                <span class="tooltiptext">Confirma</span>
            </div>
            <div class="tooltip">
                @Html.ActionLink(" ", "Delete", "ProgramareAnaliza1", new { id = Model.ProgramareAnaliza.Id }, new { style = "background: url('" + Url.Content("~/images/trash.svg") + "') no-repeat center right; display:inline-block; height:30px; width:30px; filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" })
                <span class="tooltiptext">Anuleaza</span>
            </div>
        </td>
    </dl>
</div>
