@model IEnumerable<Regele_Marius.Models.Slider>

@{
    ViewBag.Title = "Slide-uri";

    if (Session["NumeUtilizator"] == null)
    {
        Response.Redirect("~/Cont/Logare", false);
    }
}

<h2>Imagini slider</h2>

<p>
    @Html.ActionLink("Imagine noua", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titlu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriere)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.Imagine)" class="img-thumbnail" width="800" height="500" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titlu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
