@model Regele_Marius.Models.Analiza

@{
    ViewBag.Title = "Delete";

    if (Session["NumeUtilizator"] == null || (bool)Session["Activ"] == true)
    {
        Response.Redirect("~/Cont/Logare", false);
    }
}

<h3>Vrei sa stergi aceasta analiza?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denumire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Durata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durata)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pret)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sterge" class="btn btn-default" />
        </div>
    }
</div>
