@model Regele_Marius.ViewModels.RezultatInterventieViewModel
@{
    ViewBag.Title = "Rezultat interventie";
}

<h2>Rezultat interventie</h2>

@using (Html.BeginForm("Create","RezultatInterventie")) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.RezultatInterventie.MedicId, "Medic", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.RezultatInterventie.MedicId, new SelectList(Model.Medici, "Id", "Nume"), "Selectare medic", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RezultatInterventie.MedicId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatInterventie.PacientId, "Pacient", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.RezultatInterventie.PacientId, new SelectList(Model.Pacienti, "Id", "Nume"), "Selectare pacient", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RezultatInterventie.PacientId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatInterventie.InterventieId, "Interventie", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.RezultatInterventie.InterventieId, new SelectList(Model.Interventii, "Id", "Denumire"), "Selectare interventie", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RezultatInterventie.InterventieId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatInterventie.DataNastere, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatInterventie.DataNastere, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatInterventie.DataNastere, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatInterventie.NrTelefon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatInterventie.NrTelefon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatInterventie.NrTelefon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatInterventie.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatInterventie.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatInterventie.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatInterventie.Adresa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatInterventie.Adresa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatInterventie.Adresa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatInterventie.Gen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.RezultatInterventie.Gen, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RezultatInterventie.Gen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatInterventie.Denumire, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatInterventie.Denumire, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatInterventie.Denumire, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatInterventie.Descriere, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatInterventie.Descriere, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatInterventie.Descriere, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatInterventie.Pret, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatInterventie.Pret, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatInterventie.Pret, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatInterventie.Echipament, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatInterventie.Echipament, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatInterventie.Echipament, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatInterventie.Durata, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatInterventie.Durata, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatInterventie.Durata, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatInterventie.Succes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.RezultatInterventie.Succes)
                @Html.ValidationMessageFor(model => model.RezultatInterventie.Succes, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvare" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Inapoi", "Index")
</div>
