@model Regele_Marius.Models.Articol

@{
    ViewBag.Title = "Sterge articol";

    if (Session["NumeUtilizator"] == null || (bool)Session["Activ"] == true)
    {
        Response.Redirect("~/Cont/Logare", false);
    }
}

<h2>Vrei sa stergi acest articol?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titlu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titlu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriere)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sterge" class="btn btn-danger" />
        </div>
    }
</div>
