@model IEnumerable<Regele_Marius.Models.Articol>
<link href="~/Content/StyleSheet.css" type="text/css" rel="stylesheet" />

@{
    ViewBag.Title = "Articole";

    if (Session["NumeUtilizator"] == null || (bool)Session["Activ"] == true)
    {
        Response.Redirect("~/Cont/Logare", false);
    }
}

<h1 style="text-align:center">Articole</h1>

<div class="tooltip">
    @Html.ActionLink(" ", "Create", "Articol", new { style = "background: url('" + Url.Content("~/images/plus-solid.svg") + "') no-repeat center right; display:inline-block; height:30px; width:30px; filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" })
    <span class="tooltiptext">Adauga articol</span>
</div>

<section class="list-articles row">
    @foreach (var item in Model)
    {
        <article class="col-md-6 col-sm-12">
            <div class="image-container">
                <img src="@Url.Content(item.Imagine)" />
                <h3>@Html.DisplayFor(modelItem => item.Titlu)</h3>
            </div>
            <div class="article-description">
                <p>@Html.DisplayFor(modelItem => item.Descriere)</p>
            </div>
            <td>
                <div class="tooltip">
                    @Html.ActionLink(" ", "Delete", "Articol", new { id = item.Id }, new { style = "background: url('" + Url.Content("~/images/trash.svg") + "') no-repeat center right; display:inline-block; height:30px; width:30px; filter: invert(91%) sepia(0%) saturate(6644%) hue-rotate(138deg) brightness(88%) contrast(84%);" })
                    <span class="tooltiptext">Stergere</span>
                </div>
                <div class="tooltip">
                    @Html.ActionLink(" ", "Edit", "Articol", new { id = item.Id }, new { style = "background: url('" + Url.Content("~/images/edit-solid.svg") + "')  no-repeat center; display:inline-block; height:30px; width:30px; filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" })
                    <span class="tooltiptext">Editare</span>
                </div>
            </td>
        </article>
    }
</section>
