
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css"/>
    <link href="~/Content/bootstrap.css"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Style/StyleSheet.css")

</head>
<body style="background: #ffffff">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="~/Home/Index" title=""><img src="~/Uploads/Others/Loggg.png" class="navbar-brand"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["NumeUtilizator"] != null && (bool)Session["Activ"] == true)
                    {

                    }

                    @if (Session["NumeUtilizator"] != null && (bool)Session["Activ"] == false)
                    {
                        <li>@Html.ActionLink("Articole", "Index", "Articol")</li>
                        <li>@Html.ActionLink("Program", "Index", "Medic")</li>
                        <li>@Html.ActionLink("Programari analize", "Index", "ProgramareAnaliza1")</li>
                        <li>@Html.ActionLink("Analize", "Index", "Analiza")</li>
                        <li>@Html.ActionLink("Specializari", "Index", "Specializares")</li>
                        <li>@Html.ActionLink("Slider", "Index", "Slider")</li>
                        <li>@Html.ActionLink("Conturi", "Index", "Cont")</li>

                    }
                </ul>

                @if (Session["NumeUtilizator"] == null)
                {
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Formular programare", "Create", "ProgramareAnaliza1")</li>
                    <li>@Html.ActionLink("Calculator", "Create", "Calculator")</li>
                    <li>@Html.ActionLink("Articole", "IndexPacienti", "Articol")</li>
                </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Logare", "Logare", "Cont")</li>
                    </ul>
                }

                @if (Session["NumeUtilizator"] != null && (bool)Session["Activ"] == true)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Cont", "Details", "User", new { id = Session["Id"] }, null)</li>
                        <li>@Html.ActionLink("Deconectare", "Deconectare", "Cont")</li>
                    </ul>
                }

                @if (Session["NumeUtilizator"] != null && (bool)Session["Activ"] == false)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Cont", "Details", "User", new { id = Session["Id"] }, null)</li>
                        <li>@Html.ActionLink("Deconectare", "Deconectare", "Cont")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Ora curenta - @DateTime.Now.Hour:@DateTime.Now.Minute</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
