@model Regele_Marius.ViewModels.RezultatAnalizaViewModel

@{
    ViewBag.Title = "Fisa pacient";
}

<h2>Fisa pacient</h2>

@using (Html.BeginForm("Create","RezultatAnaliza")) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.MedicId, "MedicId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.RezultatAnaliza.MedicId, new SelectList(Model.Medici, "Id", "Nume"), "Selectare medic", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.MedicId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.PacientId, "PacientId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.RezultatAnaliza.PacientId, new SelectList(Model.Pacienti, "Id", "Nume"), "Selectare pacient", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.PacientId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.AnalizaId, "AnalizaId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.RezultatAnaliza.AnalizaId, new SelectList(Model.Analize, "Id", "Denumire"), "Selectare analiza", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.AnalizaId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.DataNastere, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.DataNastere, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.DataNastere, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.NrTelefon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.NrTelefon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.NrTelefon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Adresa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Adresa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Adresa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Gen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.RezultatAnaliza.Gen, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Gen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Denumire, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Denumire, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Denumire, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Descriere, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Descriere, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Descriere, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Pret, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Pret, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Pret, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Glicemie, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Glicemie, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Glicemie, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.NumarLeucocite, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.NumarLeucocite, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.NumarLeucocite, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.NumarEritrocite, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.NumarEritrocite, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.NumarEritrocite, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Hemoglobina, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Hemoglobina, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Hemoglobina, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Hematrocit, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Hematrocit, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Hematrocit, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.VolumEritrocitarMediu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.VolumEritrocitarMediu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.VolumEritrocitarMediu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.ConcentratieMedie, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.ConcentratieMedie, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.ConcentratieMedie, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Trombocite, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Trombocite, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Trombocite, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.VolumMediuTrombocitar, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.VolumMediuTrombocitar, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.VolumMediuTrombocitar, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Plachetocrit, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Plachetocrit, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Plachetocrit, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Monocite, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Monocite, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Monocite, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Neutrofile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Neutrofile, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Neutrofile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Eozinofile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Eozinofile, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Eozinofile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Bazofile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Bazofile, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Bazofile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Limfocite, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Limfocite, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Limfocite, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Colesterol, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Colesterol, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Colesterol, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Trigliceride, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Trigliceride, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Trigliceride, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Uree, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Uree, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Uree, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Creatinina, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Creatinina, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Creatinina, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Calciu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Calciu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Calciu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Fier, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Fier, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Fier, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RezultatAnaliza.Magneziu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RezultatAnaliza.Magneziu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RezultatAnaliza.Magneziu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvare" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Inapoi", "Index")
</div>
