@model Regele_Marius.ViewModels.RezultatViewModel
<link href="~/Content/StyleSheet.css" type="text/css" rel="stylesheet" />

@{
    ViewBag.Title = "Buletin analize";
}


<div>
    <hr />
    <div class="buletin-analize">
        <div class="header">
            <h5>REZULTAT FINAL LABORATOR</h5>
            <h5>LABORATOR INTERVENTII</h5>
            <h3>LABORATOR MARIUS VITAN</h3>
            <h5>Marius Medical SRL, Bd. Energeticienilor, nr. 9-11, Sector 3</h5>
            <h5>Tel: 021-130.94.05</h5>
            <h5>Fax: 021-319.89.99</h5>
            <h2 class="titlu-sectiune">Buletin Analize medicale</h2>
        </div>

        <div class="detalii-pacient">
            <div class="detaliu-pacient">
                <span>@Html.DisplayNameFor(model => model.Analiza.Denumire)</span>
                <span>@Html.DisplayFor(model => model.Analiza.Denumire)</span>
            </div>
            <div class="detaliu-pacient">
                <span>@Html.DisplayNameFor(model => model.RezultatAnaliza.NumeComplet)</span>
                <span>@Html.DisplayFor(model => model.RezultatAnaliza.NumeComplet)</span>
            </div>
            <div class="detaliu-pacient">
                <span>@Html.DisplayNameFor(model => model.RezultatAnaliza.Email)</span>
                <span>@Html.DisplayFor(model => model.RezultatAnaliza.Email)</span>
            </div>
            <div class="detaliu-pacient">
                <span>@Html.DisplayNameFor(model => model.RezultatAnaliza.DataNastere)</span>
                <span>@Html.DisplayFor(model => model.RezultatAnaliza.DataNastere)</span>
            </div>
            <div class="detaliu-pacient">
                <span>@Html.DisplayNameFor(model => model.RezultatAnaliza.NrTelefon)</span>
                <span>@Html.DisplayFor(model => model.RezultatAnaliza.NrTelefon)</span>
            </div>
            <div class="detaliu-pacient">
                <span>@Html.DisplayNameFor(model => model.RezultatAnaliza.Gen)</span>
                <span>@Html.DisplayFor(model => model.RezultatAnaliza.Gen)</span>
            </div>
            <div class="detaliu-pacient">
                <span>@Html.DisplayNameFor(model => model.Medic.NumeComplet)</span>
                <span>@Html.DisplayFor(model => model.Medic.NumeComplet)</span>
            </div>
            <div class="detaliu-pacient">
                <span>@Html.DisplayNameFor(model => model.RezultatAnaliza.Denumire)</span>
                <span>@Html.DisplayFor(model => model.RezultatAnaliza.Denumire)</span>
            </div>
            <div class="detaliu-pacient">
                <span>@Html.DisplayNameFor(model => model.RezultatAnaliza.Descriere)</span>
                <span>@Html.DisplayFor(model => model.RezultatAnaliza.Descriere)</span>
            </div>
            <div class="detaliu-pacient">
                <span>@Html.DisplayNameFor(model => model.RezultatAnaliza.Pret)</span>
                <span>@Html.DisplayFor(model => model.RezultatAnaliza.Pret)</span>
            </div>

        </div>
    </div>
    <div class="rezultat-analize table-responsive-lg">
        <table class="table"> 
            <thead>
            <th>Parametru analizat</th>
            <th>Valoarea obtinuta</th>
            <th>Valori biologice de referinta</th>
            <th>U.M.</th>
            <th></th>
            </thead>
            <tbody>
                @{
                    if (Model.RezultatAnaliza.Glicemie != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Glicemie)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Glicemie)</td>
                                    <td>3 - 5</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Glicemie < 3 || Model.RezultatAnaliza.Glicemie > 5)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.NumarLeucocite != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.NumarLeucocite)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.NumarLeucocite)</td>
                                    <td>65 - 115</td>
                                    <td>mg/dL</td>
                                        @{ if (Model.RezultatAnaliza.NumarLeucocite < 65 || Model.RezultatAnaliza.NumarLeucocite > 115)
                                            {
                                                <td>
                                                    <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                                </td>
                                            }
                                        }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.NumarEritrocite != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.NumarEritrocite)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.NumarEritrocite)</td>
                                    <td>20 - 40</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.NumarEritrocite < 20 || Model.RezultatAnaliza.NumarEritrocite > 40)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Hemoglobina != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Hemoglobina)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Hemoglobina)</td>
                                    <td>12 - 55</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Hemoglobina < 12 || Model.RezultatAnaliza.Hemoglobina > 55)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>

                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Hematrocit != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Hematrocit)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Hematrocit)</td>
                                    <td>1-2</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Hematrocit < 1 || Model.RezultatAnaliza.Hematrocit > 2)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.VolumEritrocitarMediu != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.VolumEritrocitarMediu)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.VolumEritrocitarMediu)</td>
                                    <td>80-150</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.VolumEritrocitarMediu < 80 || Model.RezultatAnaliza.VolumEritrocitarMediu > 150)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.ConcentratieMedie != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.ConcentratieMedie)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.ConcentratieMedie)</td>
                                    <td>3 - 5</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.ConcentratieMedie < 3 || Model.RezultatAnaliza.ConcentratieMedie > 5)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Trombocite != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Trombocite)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Trombocite)</td>
                                    <td>6 - 15</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Trombocite < 6 || Model.RezultatAnaliza.Trombocite > 15)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.VolumMediuTrombocitar != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.VolumMediuTrombocitar)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.VolumMediuTrombocitar)</td>
                                    <td>90 - 110</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.VolumMediuTrombocitar < 90 || Model.RezultatAnaliza.VolumMediuTrombocitar > 110)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Plachetocrit != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Plachetocrit)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Plachetocrit)</td>
                                    <td>70 - 250</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Plachetocrit < 70 || Model.RezultatAnaliza.Plachetocrit > 250)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Monocite != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Monocite)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Monocite)</td>
                                    <td>36 - 80</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Monocite < 36 || Model.RezultatAnaliza.Monocite > 80)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Neutrofile != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Neutrofile)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Neutrofile)</td>
                                    <td>50 - 95</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Neutrofile < 50 || Model.RezultatAnaliza.Neutrofile > 95)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Eozinofile != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Eozinofile)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Eozinofile)</td>
                                    <td>15 - 160</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Eozinofile < 15 || Model.RezultatAnaliza.Eozinofile > 160)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Bazofile != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Bazofile)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Bazofile)</td>
                                    <td>6 - 10</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Bazofile < 6 || Model.RezultatAnaliza.Bazofile > 10)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Limfocite != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Limfocite)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Limfocite)</td>
                                    <td>25 -35</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Limfocite < 25 || Model.RezultatAnaliza.Limfocite > 35)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Colesterol != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Colesterol)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Colesterol)</td>
                                    <td>75 - 400</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Colesterol < 75 || Model.RezultatAnaliza.Colesterol > 400)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Trigliceride != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Trigliceride)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Trigliceride)</td>
                                    <td>2 - 950</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Trigliceride < 2 || Model.RezultatAnaliza.Trigliceride > 950)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Uree != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Uree)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Uree)</td>
                                    <td>35 - 55</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Uree < 35 || Model.RezultatAnaliza.Uree > 55)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Creatinina != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Creatinina)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Creatinina)</td>
                                    <td>30 - 220</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Creatinina < 30 || Model.RezultatAnaliza.Creatinina > 220)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Calciu != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Calciu)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Calciu)</td>
                                    <td>3 - 5</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Calciu < 3 || Model.RezultatAnaliza.Calciu > 5)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Fier != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Fier)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Fier)</td>
                                    <td>75 - 85</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Glicemie < 78 || Model.RezultatAnaliza.Glicemie > 85)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

                @{
                    if (Model.RezultatAnaliza.Magneziu != null)
                    {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.RezultatAnaliza.Magneziu)</td>
                                    <td>@Html.DisplayFor(model => model.RezultatAnaliza.Magneziu)</td>
                                    <td>110 - 210</td>
                                    <td>mg/dL</td>
                                    @{ if (Model.RezultatAnaliza.Magneziu < 110 || Model.RezultatAnaliza.Magneziu > 210)
                                        {
                                            <td>
                                                <img src="~/Images/circle-solid.svg" style="filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" />
                                            </td>
                                        }
                                    }
                                </tr>
                    }
                }

            </tbody>
        </table>

        <div class="tooltip">
            @Html.ActionLink(" ", "GeneratePDF", new { id = Model.RezultatAnaliza.RezultatGuid }, new { style = "background: url('" + Url.Content("~/images/file-download-solid.svg") + "') no-repeat center right; display:inline-block; height:30px; width:30px; filter: invert(11%) sepia(91%) saturate(5572%) hue-rotate(358deg) brightness(88%) contrast(112%);" })
            <span class="tooltiptext">Descarca PDF</span>
        </div>
    </div>
</div>
