
@model Regele_Marius.ViewModels.ContMedicViewModel

@{
    ViewBag.Title = "Detalii cont";

    if (Session["NumeUtilizator"] == null)
    {
        Response.Redirect("~/Cont/Logare", false);
    }
}

<h2>Detalii cont - @Model.Medic.NumeComplet</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.User.NumeUtilizator)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User.NumeUtilizator)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.User.Parola)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User.Parola)
                </dd>

                <dt>
                    Functie
                </dt>

                <dd>
                    Medic
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Specializare.Nume)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Specializare.Nume)
                </dd>

                <dt>
                    Program
                </dt>

                @if (Model.Medic.Schimb == Regele_Marius.Models.Schimb.Unu)
                {
                    <dd>
                        08:00 - 14:00
                    </dd>
                }
                else
                {
                    <dd>
                        14:00 - 20:00
                    </dd>
                }

    </dl>
</div>
