@model IEnumerable<Regele_Marius.Models.Medic>

@{
    ViewBag.Title = "Lista medici";
    if (Session["NumeUtilizator"] == null || (bool)Session["Activ"] == true)
    {
        Response.Redirect("~/Cont/Logare", false);
    }


}

<h2>Program medici</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specializare.Nume)
        </th>
        <th>
            Luni
        </th>
        <th>
            Marti
        </th>
        <th>
            Miercuri
        </th>
        <th>
            Joi
        </th>
        <th>
            Vineri
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specializare.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuniInceput) - @Html.DisplayFor(modelItem => item.LuniFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MartiInceput) - @Html.DisplayFor(modelItem => item.MartiFinal)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MiercuriInceput) - @Html.DisplayFor(modelItem => item.MiercuriFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoiInceput) - @Html.DisplayFor(modelItem => item.JoiFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VineriInceput) - @Html.DisplayFor(modelItem => item.VineriFinal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
