@model IEnumerable<Regele_Marius.Models.Medic>

@{
    ViewBag.Title = "Lista medici";

    if (Session["NumeUtilizator"] == null)
    {
        Response.Redirect("~/Cont/Logare", false);
    }
}

<h2>Lista medici</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specializare.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuniInceput)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuniFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MartiInceput)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MartiFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiercuriInceput)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiercuriFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoiInceput)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoiFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VineriInceput)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VineriFinal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specializare.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuniInceput)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuniFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MartiInceput)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MartiFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiercuriInceput)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiercuriFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoiInceput)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoiFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VineriInceput)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VineriFinal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
