@model IEnumerable<Regele_Marius.Models.ProgramareAnaliza>
<link href="~/Content/StyleSheet.css" type="text/css" rel="stylesheet" />
@{
    ViewBag.Title = "Programari";
    if (Session["NumeUtilizator"] == null)
    {
        Response.Redirect("~/Cont/Logare", false);
    }
}

<h2>Programari</h2>
<td>
    <div class="tooltip">
        <progress id="progress" value=@ViewBag.programariFinalizateAzi max=@ViewBag.totalProgramariAzi> </progress>
        <span class="tooltiptext">Progres</span>
    </div>
   
</td>
<table class="table">
    <tr>
        <th>
            Nume analiza
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeComplet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNastere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrTelefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gen)
        </th>
        <th>
            Data programare
        </th>
        <th>
            Orar
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Analiza.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeComplet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNastere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrTelefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataProgramare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OraInceput) - @Html.DisplayFor(modelItem => item.OraFinal)
            </td>
            <td>
                @{
                    if (item.Status == Regele_Marius.Models.Status.Derulare)
                    {
                        <div class="tooltip">
                            @Html.ActionLink(" ", "Create", "RezultatAnaliza", new { id = item.Id }, new { style = "background: url('" + Url.Content("~/images/folder-solid.svg") + "') no-repeat center; display:inline-block; height:30px; width:30px;filter: invert(51%) sepia(6%) saturate(4768%) hue-rotate(71deg) brightness(117%) contrast(102%);" })
                            <span class="tooltiptext">Finalizare</span>
                        </div>
                    }
                    else
                    {
                        <div class="tooltip">
                            @Html.ActionLink(" ", "Details", "RezultatAnaliza", new { id = item.RezultatGuid }, new { style = "background: url('" + Url.Content("~/images/info.svg") + "')  no-repeat center; display:inline-block; height:30px; width:30px; filter: invert(40%) sepia(52%) saturate(3535%) hue-rotate(209deg) brightness(99%) contrast(110%);" })
                            <span class="tooltiptext">Vizionare raport</span>
                        </div>
                    }
                }
            </td>
        </tr>
    }

</table>
