@model IEnumerable<Regele_Marius.Models.Specializare>


@{
    ViewBag.Title = "Index";

    if (Session["NumeUtilizator"] == null)
    {
        Response.Redirect("~/Cont/Logare", false);
    }
}

<h2>Lista specializari</h2>

<!--
<p>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#specializareModal">Specializare noua</a>
</p>
    -->

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!--
<div class="modal fade" id="specializareModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Confirmare</h2>
            </div>
            <div class="modal-body">
                <h3>Sigur vrei sa stergi aceasta specializare?</h3>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <a href="#" id="btnDelete" class="btn btn-primary mr-2">Salvare specializare</a>
                    <a href="#" id="btnCancel" class="btn btn-danger">Iesire</a>
                </div>

            </div>
        </div>
    </div>
</div>
    -->


<table class="table table-bordered table-hover">
    <tr class="btn-primary">
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nume)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Sterge", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>



