@model IEnumerable<Regele_Marius.Models.Interventie>

@{
    ViewBag.Title = "Lista interventii";

    if (Session["NumeUtilizator"] == null || (bool)Session["Activ"] == false)
    {
        Response.Redirect("~/Cont/Logare", false);
    }
}

<h2>Lista interventii</h2>

<p>
    @Html.ActionLink("Interventie noua", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Echipament)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Denumire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pret)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Echipament)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Denumire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pret)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
