<link href="~/Content/StyleSheet.css" type="text/css" rel="stylesheet" />
@{
    ViewBag.Title = "Acasa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<hr />
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @foreach (var item in ViewBag.Slider)
        {
            var status1 = "";
            if (item.Id == 1)
            {
                status1 = "active";
            }
            <li data-target="#myCarousel" data-slide-to="@item.Id @status1"></li>
        }
    </ol>
    <div class="carousel-inner" role="listbox">

        @foreach (var item in ViewBag.Slider)
        {
            var status = "";
            if (item.Id == 1)
            {
                status = "active";
            }

            <div class="item @status">
                <img class="first-slide" src="@Url.Content(item.Imagine)" alt="@item.Nume">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>@item.Titlu</h1>
                        <p>@item.Descriere</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@*<head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>*@

<section class="article-section">
    <article>
        <h3>O clinica cu renume</h3>
        <p>Cu o istorie de peste 6 ani in industria medicala venim in ajutorul chiar si celor mai amarati pacienti.</p>
        <p>Primul nostru pacient a fost chiar pisoiul fiului nostru. Feedback-ul din partea acestuia a fost unul absoulut extraordinar multumindu-ne chiar si astazi in limba mandarina.</p>
    </article>

    <article>
        <h3>Pacienti celebrii</h3>
        <p>Recent am avut una dintre cele mai placute surprize. Nimeni altul decat mult iubitul actor Leonardo Dicaprio si-a facut o programare pentru niste analize amanuntine in ceea ce priveste parametrii ficatului.</p>
        <p>Leo a declarat ca se simte cam rau dupa ultimul an de filmari in pandemie. Regizorii i-au impus sa foloseasca dezinfectant in exces, iar acesta a patruns prin epiderma ajungand ulterior sa imbibe ficatul tanarului.</p>
    </article>


</section>

<section class="article-section">
    <article>
        <h3>Postul la catolici</h3>
        <p>
            E adevarat ca divulgaritatea umanistica a unui om
            s-ar putea reputia pe un blastom al nonsalantei
            nonconformiste intr-un Jean Calvin chiar daca aceasta
            republistica interumana s-ar putea retusa pe un tronson
            umanitar in aceasta zi a unui prohod?
        </p>
        
    </article>

    <article>
        <h3>Pacienti celebrii</h3>
        <p>Recent am avut una dintre cele mai placute surprize. Nimeni altul decat mult iubitul actor Leonardo Dicaprio si-a facut o programare pentru niste analize amanuntine in ceea ce priveste parametrii ficatului.</p>
        <p>Leo a declarat ca se simte cam rau dupa ultimul an de filmari in pandemie. Regizorii i-au impus sa foloseasca dezinfectant in exces, iar acesta a patruns prin epiderma ajungand ulterior sa imbibe ficatul tanarului.</p>
    </article>


</section>

<section class="article-section">
    <article>
        <h3>Postul la catolici</h3>
        <p>
            E adevarat ca divulgaritatea umanistica a unui om
            s-ar putea reputia pe un blastom al nonsalantei
            nonconformiste intr-un Jean Calvin chiar daca aceasta
            republistica interumana s-ar putea retusa pe un tronson
            umanitar in aceasta zi a unui prohod?
        </p>

    </article>

</section>

@*<fieldset>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="googleMap" style="height:400px;width:100%;"></div>
    <script>
        function myMap() {
            var myCenter = new google.maps.LatLng(20.296100, 85.824500);
            var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCh--CU3IH13l3MLcpR7Ih6ekItGC5N38&callback=myMap"></script>
</fieldset>*@
</html>
